# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
RasterrizerCool/Rasterizer/SDL2/COPYING.txt
RasterrizerCool/Rasterizer/SDL2/BUGS.txt
RasterrizerCool/Rasterizer/Rasterizer/Debug/vc141.idb
RasterrizerCool/Rasterizer/Rasterizer/Debug/Rasterizer.tlog/link.write.1.tlog
RasterrizerCool/Rasterizer/Rasterizer/Debug/Rasterizer.tlog/link.read.1.tlog
RasterrizerCool/Rasterizer/Rasterizer/Debug/Rasterizer.tlog/link.command.1.tlog
RasterrizerCool/Rasterizer/Rasterizer/Debug/Rasterizer.tlog/Rasterizer.lastbuildstate
RasterrizerCool/Rasterizer/Rasterizer/Debug/Rasterizer.tlog/CL.write.1.tlog
RasterrizerCool/Rasterizer/Rasterizer/Debug/Rasterizer.tlog/CL.read.1.tlog
RasterrizerCool/Rasterizer/Rasterizer/Debug/Rasterizer.tlog/CL.command.1.tlog
RasterrizerCool/Rasterizer/.vs/Rasterizer/v15/ipch/AutoPCH/c1b1fbed1cb7a4b9/SCENE.ipch
RasterrizerCool/Rasterizer/.vs/Rasterizer/v15/ipch/AutoPCH/bb77ff44d1a69d41/LINE.ipch
RasterrizerCool/Rasterizer/.vs/Rasterizer/v15/ipch/AutoPCH/a114aef1aca8df92/LINE.ipch
RasterrizerCool/Rasterizer/.vs/Rasterizer/v15/ipch/AutoPCH/8ca4bb6c1182a04a/COLOR.ipch
RasterrizerCool/Rasterizer/.vs/Rasterizer/v15/ipch/AutoPCH/69a6cd5ea6cf407e/CAMERA.ipch
RasterrizerCool/Rasterizer/.vs/Rasterizer/v15/ipch/AutoPCH/6021a9f55cae3240/TEXTURE.ipch
RasterrizerCool/Rasterizer/.vs/Rasterizer/v15/Browse.VC.db
RasterrizerCool/Rasterizer/SDL2/include/SDL_config.h.cmake
RasterrizerCool/Rasterizer/SDL2/include/SDL_config.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_clipboard.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_blendmode.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_bits.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_audio.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_atomic.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_assert.h
RasterrizerCool/Rasterizer/SDL2/include/SDL.h
RasterrizerCool/Rasterizer/SDL2/docs/doxyfile
RasterrizerCool/Rasterizer/SDL2/docs/README.md
RasterrizerCool/Rasterizer/SDL2/docs/README-winrt.md
RasterrizerCool/Rasterizer/SDL2/docs/README-windows.md
RasterrizerCool/Rasterizer/SDL2/docs/README-wince.md
RasterrizerCool/Rasterizer/SDL2/docs/README-touch.md
RasterrizerCool/Rasterizer/SDL2/docs/README-raspberrypi.md
RasterrizerCool/Rasterizer/SDL2/docs/README-psp.md
RasterrizerCool/Rasterizer/SDL2/docs/README-porting.md
RasterrizerCool/Rasterizer/SDL2/docs/README-platforms.md
RasterrizerCool/Rasterizer/SDL2/docs/README-pandora.md
RasterrizerCool/Rasterizer/SDL2/docs/README-os2.md
RasterrizerCool/Rasterizer/SDL2/docs/README-nacl.md
RasterrizerCool/Rasterizer/SDL2/docs/README-macosx.md
RasterrizerCool/Rasterizer/SDL2/docs/README-linux.md
RasterrizerCool/Rasterizer/SDL2/docs/README-ios.md
RasterrizerCool/Rasterizer/SDL2/docs/README-hg.md
RasterrizerCool/Rasterizer/SDL2/docs/README-gesture.md
RasterrizerCool/Rasterizer/SDL2/docs/README-emscripten.md
RasterrizerCool/Rasterizer/SDL2/docs/README-dynapi.md
RasterrizerCool/Rasterizer/SDL2/docs/README-directfb.md
RasterrizerCool/Rasterizer/SDL2/docs/README-cmake.md
RasterrizerCool/Rasterizer/SDL2/docs/README-android.md
RasterrizerCool/Rasterizer/SDL2/WhatsNew.txt
RasterrizerCool/Rasterizer/SDL2/README.txt
RasterrizerCool/Rasterizer/SDL2/include/SDL_thread.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_test_random.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_test_memory.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_test_md5.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_test_log.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_test_images.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_test_harness.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_test_fuzzer.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_test_font.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_test_crc32.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_test_compare.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_test_common.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_test_assert.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_test.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_syswm.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_system.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_opengles.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_opengl_glext.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_opengl.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_gesture.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_gamecontroller.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_filesystem.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_events.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_error.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_endian.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_egl.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_cpuinfo.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_copying.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_config_wiz.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_config_winrt.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_config_windows.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_config_psp.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_config_pandora.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_config_minimal.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_config_macosx.h.orig
RasterrizerCool/Rasterizer/SDL2/include/SDL_config_macosx.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_config_iphoneos.h
RasterrizerCool/Rasterizer/SDL2/include/close_code.h
RasterrizerCool/Rasterizer/SDL2/include/begin_code.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_vulkan.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_video.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_version.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_types.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_touch.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_timer.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_surface.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_stdinc.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_shape.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_sensor.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_scancode.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_rwops.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_revision.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_render.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_rect.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_quit.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_power.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_platform.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_pixels.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_opengles2_khrplatform.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_opengles2_gl2platform.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_opengles2_gl2ext.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_opengles2_gl2.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_opengles2.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_config_android.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_config.h.in
RasterrizerCool/Rasterizer/SDL2/README-SDL.txt
RasterrizerCool/Rasterizer/SDL2/include/SDL_name.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_mutex.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_mouse.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_misc.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_metal.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_messagebox.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_main.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_log.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_locale.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_loadso.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_keycode.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_keyboard.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_joystick.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_hints.h
RasterrizerCool/Rasterizer/SDL2/include/SDL_haptic.h
RasterrizerCool/Rasterizer/.vs/Rasterizer/v15/ipch/AutoPCH/3cb52c97991892f0/RASTERIZER.ipch
